* {
    margin-top: 0;
    /* padding: 0; */
    box-sizing: border-box;
}
.active{
    font-weight: bolder;

}

nav {
    background: rgba(255, 255, 255, 0.8);
}

nav .navbar-brand img {
    width: 6rem;
    height: 6rem;
    cursor: pointer;
}

nav .navbar-brand img:hover {
    transform: scale(1.2);
    /* border: 2px solid black; */
    /* border-right: 2px solid black; */
    /* border-radius: 25%; */
}

nav ul li a {
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    color: grey;
}

nav ul li a:hover {
    color: rgb(0, 61, 0);
    border-bottom: 2px solid orangered;
    border-top: 2px solid darkgreen;

    font-weight: bold;
    
}

#bg{
    background-image: url(https://cdn.pixabay.com/photo/2014/02/17/21/23/digital-art-268706_640.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
   background-size:cover;
   background-position: center;
}

footer a:hover {
    font-weight: bold;
    color: rgb(0, 61, 0);

}

/* Home Component */
#home::before {
    display: block;
    content: "";
    height: 75px;
}


#home{
    /* margin-top: 9rem; */
    /* padding: 10vh; */
    cursor: pointer;
    height: 85vh;
}

p{
    font-size: 1.1rem;
}

#home .row{
    background: rgba(255, 255, 255, 0.8);
    min-height: 60vh;
}

#home img{
    width: 20rem;
    border-bottom: 5px solid grey;
    border-right: 5px solid grey;
}

#bold{
    font-weight: bold;
}
#bold:hover{
    color: orangered;
}

#smok{
    color: grey;
}
#bold:hover #smok{
    color: black;
}

#smokefree{
    color:green;
}

#smokefree:hover{
    color: darkgreen;
}

.hashtag{
    color: red;
}

#home button{
    border-radius: 1rem;
}

#home button:hover{
    border-left: 3rem solid orangered;
    border-right: 1rem solid grey;

}